.git
.gitignore
.next
.next*
.trace
.env
.env.*
.cursor
.cursorignore
.cursorrules
node_modules
cache
coverage
dist
build
playwright-report
test-results
blob-report
tsconfig.tsbuildinfo
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.DS_Store
